@page
@{
    Layout = null;
    string title = Environment.GetEnvironmentVariable("TITLE") ?? "Yet another voting app";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet" />
    <title>Voting App</title>
</head>
<body>
  <div id="container">
    <center>
      <div id="logo">@title</div>
      <div id="space"></div>
      <div id="form">
      <div id="space"></div>
      <button name="vote" onclick="send('dogs')" class="button button1">
        <i class="em em-dog"></i> Dogs - <span id='dogs'></span>
      </button>
      <button name="vote" onclick="send('bunnies')" class="button button1">
        <i class="em em-rabbit"></i> Bunnies - <span id='bunnies'></span>
      </button>
      <button name="vote" onclick="send('horses')" class="button button1">
        <i class="em em-horse"></i> Horses - <span id='horses'></span>
      </button>
      <div id="space"></div>
    </center>
  </div>
  <script src="https://unpkg.com/@@aspnet/signalr@@1.0.0-preview2-final/dist/browser/signalr.js"></script>
  <script>
  var maxReconnects = 200
  var reconnects = 0
  var connected = false
  var connection = new signalR.HubConnection('/votinghub')
  connection.on('resultsChanged', resultsChanged)
  connection.onclose(() => startConnection(connection))
  startConnection(connection)

  function startConnection(connection) {
    reconnects += 1
    if (reconnects > maxReconnects) {
      return
    }
    console.log('connecting...')
    connection.start()
      .then(() => {
        console.log('connected')
        resultsChanged({dogs: 0, bunnies: 0, horses: 0})
        connected = true
      })
      .catch(err => {
        console.error(err)
        connected = false
        setTimeout(() => startConnection(connection), 2000)
      })
  }

  var current = {
    dogs: 0,
    bunnies: 0,
    horses: 0
  }
  function resultsChanged(results) {
    // sometimes updates come in out of order, so only update when results are increasing
    var resetting = !results.dogs && !results.bunnies && !results.horses
    if (resetting || results.dogs > current.dogs) {
      document.getElementById('dogs').textContent = results.dogs
    }
    if (resetting || results.bunnies > current.bunnies) {
      document.getElementById('bunnies').textContent = results.bunnies
    }
    if (resetting || results.horses > current.horses) {
      document.getElementById('horses').textContent = results.horses
    }
    current.dogs = results.dogs
    current.bunnies = results.bunnies
    current.horses - results.horses
  }

  function send(vote) {
    if (connected) {
      connection.invoke('Vote', vote)
    }
  }
  </script>
</body>
</html>